.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
}

.content h3 {
    font-size: 25px;
    padding: 17px 0;
}

.content h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.content img {
    width: 700px;
    height: auto;
}

